<!-- Header -->
<header>
	<!-- Header desktop -->
	<div class="container-menu-desktop">
		<!-- Topbar -->
		<div class="top-bar">
			<div class="content-topbar flex-sb-m h-full container">
				<div class="left-top-bar">
					Free shipping for standard order over $100
				</div>

				<div class="right-top-bar flex-w h-full">
					<a href="/myaccount" class="flex-c-m trans-04 p-lr-25">
						My Account
					</a>
				</div>
			</div>
		</div>

		<div class="wrap-menu-desktop">
			<nav class="limiter-menu-desktop container">

				<!-- Logo desktop -->
				<a href="" class="logo">
					<img src="/Fashion Culture-logos.jpeg" alt="IMG-LOGO">
				</a>

				<!-- Menu desktop -->
				<div class="menu-desktop">
					<ul class="main-menu">
						<li class="{{#if Home}}active-menu{{/if}}">
							<a href="/">Home</a>
						</li>

						<li class="{{#if Shop}}active-menu{{/if}}">
							<a href="/shop">Shop</a>
						</li>
					</ul>
				</div>

				<!-- Icon header -->
				<div class="wrap-icon-header flex-w flex-r-m d-flex align-items-center">
					<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
						<i class="zmdi zmdi-search"></i>
					</div>

					{{!-- <div > --}}
						<a href="/cart" class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11  js-show-cart" >
							<i class="zmdi zmdi-shopping-cart {{#if Cart}}active-menu{{/if}}"></i>
						</a>
					{{!-- </div> --}}

					<a href="/whish-list" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 ">
						<i class="zmdi zmdi-favorite-outline {{#if WishList}}active-menu{{/if}}"></i>
					</a>

					{{#if session.isUserLoggedIn}}
					<ul class="main-menu p-0">
						<li class="active-menu">
							<a href="" class="fs-6 text-dark">{{session.user.f_name}}</a>
							<ul class="sub-menu d-flex flex-column align-items-center justify-content-center p-0"
								style="left: -35px; min-width: 120px;">
								<li><a href="/myaccount">My Account</a></li>
								<li><a href="/logout">LogOut</a></li>
							</ul>
						</li>
					</ul>
					{{else}}
					<li>
						<a href="/user_signin" class="">
							<button class="btn btn-dark fs-10" type="submit">Login</button>
						</a>
					</li>
					{{/if}}

				</div>
			</nav>
		</div>
	</div>

	<!-- Header Mobile -->
	<div class="wrap-header-mobile">
		<!-- Logo moblie -->
		<div class="logo-mobile">
			<a href="" class="logo">
					<img src="/Fashion Culture-logos.jpeg" alt="IMG-LOGO">
				</a>
		</div>

		<!-- Icon header -->
		<div class="wrap-icon-header flex-w flex-r-m m-r-15 d-flex align-items-center">

			<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
				<i class="zmdi zmdi-search"></i>
			</div>

			<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10  js-show-cart"
				>
				<a href="/cart">
					<i class="zmdi zmdi-shopping-cart"></i>
				</a>
			</div>

			<a href="/whish-list" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 "
				>
				<i class="zmdi zmdi-favorite-outline"></i>
			</a>

			{{#if session.isUserLoggedIn}}
			{{else}}
			<a href="/user_signin" >
				<div class="text-dark" style="padding-top: 0; margin-top: 0;">
					<svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
  						<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
  						<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
					</svg>
				</div>
			</a>
			{{/if}}
			
		</div>

		<!-- Button show menu -->
		<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
			<span class="hamburger-box">
				<span class="hamburger-inner"></span>
			</span>
		</div>
	</div>


	<!-- Menu Mobile -->
	<div class="menu-mobile">
		<ul class="main-menu-m">
			<li>
				<a href="/">Home</a>
			</li>

			<li>
				<a href="/shop">Shop</a>
			</li>

			{{#if session.isUserLoggedIn}}
			<ul class="main-menu-m">
			<li>
				<a href="" class="fs-6 text-dark">{{session.user.f_name}}</a>
				<ul class="sub-menu-m">
					<li><a href="/myaccount">My Account</a></li>
					<li><a href="/logout">logOut</a></li>
				</ul>
				<span class="arrow-main-menu-m">
					<i class="fa fa-angle-right" aria-hidden="true"></i>
				</span>
			</li>
			</ul>
			{{else}}
			<li>
				<a href="/user_signin" class="">
					<button class="btn btn-dark fs-10" type="submit">Login</button>
				</a>
			</li>
			{{/if}}
		</ul>
	</div>

	<!-- Modal Search -->
	<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
		<div class="container-search-header">
			<button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
				<img src="/user/images/icons/icon-close2.png" alt="CLOSE">
			</button>

			<form class="wrap-search-header flex-w p-l-15">
				<button class="flex-c-m trans-04">
					<i class="zmdi zmdi-search"></i>
				</button>
				<input class="" type="text" name="search" placeholder="Search...">
			</form>
		</div>
	</div>
</header>
