<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

        <!-- Menu -->
        {{>admin/menu}}
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar -->
            {{>admin/nav}}
            <!-- / Navbar -->

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->

                <div class="container mt-5">
                    <div class="card">
                        <h5 class="card-header">Light Table head</h5>
                        <div class="table-responsive text-nowrap">
                            <table class="table">
                                <thead class="table-light">
                                    <tr>
                                        <th>Sl.No</th>
                                        <th>User</th>
                                        <th>Mobile</th>
                                        <th>Email</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                {{#each user}}
                                <tbody class="table-border-bottom-0">
                                    <tr>
                                        <td>{{inc @index}}</td>
                                        <td>{{this.f_name}} {{this.l_name}}</td>
                                        <td>{{this.mobile}}</td>
                                        <td class=""><span class="badge bg-label-success me-1">{{this.email}}</span>
                                        </td>
                                        <td class=""><span class="badge bg-label-primary me-1">
                                            {{#if this.isBlocked}}
                                                Blocked
                                            {{else}}
                                                Not Blocked
                                            {{/if}}
                                        </span>
                                        </td>
                                        

                                        <td>
                                            <div class="dropdown">
                                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                                    data-bs-toggle="dropdown">
                                                    <i class="bx bx-dots-vertical-rounded"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                    {{#if this.isBlocked}}
                                                    <a class="dropdown-item" href="/admin/user/unblock/{{this._id}}"><i
                                                            class="bx bx-edit-alt me-1"></i> Unblock</a>
                                                    {{else}}
                                                    <a class="dropdown-item" href="/admin/user/block/{{this._id}}"><i
                                                            class="bx bx-edit-alt me-1"></i> Block</a>
                                                    {{/if}}
                                                    <a class="dropdown-item"
                                                        href="/admin/product/delete/{{this._id}}"><i
                                                            class="bx bx-trash me-1"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                                {{/each}}
                            </table>
                        </div>
                    </div>
                </div>

                <!-- / Content -->
                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->