{{>user/header-v4}}

<form id="place-order-form">
    <input type="hidden" value="hello">
    <section class="h-100 gradient-custom" id="refresh-section">
        <div class="container py-5">
            <div class="row d-flex justify-content-center my-4">
                <div class="col-md-8">
                    <div class="card mb-4">
                        <div class="card-header py-3">
                            <div class="d-flex justify-content-between">
                                <h5 class="mb-0">ADDRESS</h5>
                                {{!-- add - new address --}}

                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#modalCenter">
                                    ADD NEW ADDRESS
                                </button>

                                <!-- Modal -->
                                {{!-- <form id="add-new-addr-form"> --}}
                                    <div class="modal fade" style="margin-top: 4rem;" id="modalCenter" tabindex="-1"
                                        aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="modalCenterTitle">ADD NEW <ADDRESS>
                                                        </ADDRESS>
                                                    </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Contact Details</p>
                                                    <div class="row">
                                                        <div class="col mb-3">
                                                            <input type="text" name="name" id="name"
                                                                class="form-control" placeholder="Name" required />
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col mb-3">
                                                            <input type="text" name="mobile" id="mobile"
                                                                class="form-control" placeholder="Mobile" required />
                                                        </div>
                                                    </div>

                                                    <p>Address</p>

                                                    <div class="row">
                                                        <div class="col mb-3">
                                                            <input type="text" onchange="getPostalDetails(event)"
                                                                name="pincode" id="pincode" class="form-control"
                                                                placeholder="Pincode" required />
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col mb-3">
                                                            <input type="text" name="address" id="address"
                                                                class="form-control"
                                                                placeholder="Address (House No, Building,Street, Area)"
                                                                required />
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col mb-3">
                                                            <input type="text" name="locality-town" id="locality"
                                                                class="form-control" placeholder="Locality / Town"
                                                                required />
                                                        </div>
                                                    </div>

                                                    <div class="row g-2">
                                                        <div class="col mb-0">

                                                            <input type="text" name="district" id="district"
                                                                class="form-control" placeholder="District"
                                                                required="true" />
                                                        </div>
                                                        <div class="col mb-0">
                                                            <input type="text" name="state" id="state"
                                                                class="form-control" placeholder="State" required />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-outline-secondary"
                                                        data-bs-dismiss="modal">
                                                        Close
                                                    </button>
                                                    <button type="button" onclick="submitAddress()"
                                                        class="btn btn-primary">Add Address</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{!--
                                </form> --}}


                                {{!-- / add -new address --}}
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- Single item -->
                            <form action="" id="addressFrm">
                                {{#each address}}
                                <div class="row">
                                    <div>
                                        <div
                                            class="address-header d-flex justify-content-between align-items-center mb-1">
                                            <div class="d-flex justify-content-between d1">
                                                <div class="d-flex">
                                                    <input type="radio" checked="checked" name="address"
                                                        value="{{this._id.time}}" class="me-2">
                                                    {{!-- <input type="hidden" name="address-id" id=""
                                                        value="{{this._id.time}},"> --}}
                                                    <h6>{{this._id.name}}</h6>
                                                </div>
                                                <h6>{{this._id.mobile}}</h6>
                                            </div>
                                            {{!-- <div>
                                                <a href="">Edit</a>
                                            </div> --}}
                                        </div>
                                        <div class="addr-body ps-4 mb-2">
                                            <p>{{this._id.address}}, {{this._id.locality}}, {{this._id.district}},
                                                {{this._id.state}} - {{this._id.pincode}},</p>
                                        </div>
                                        {{!-- <div class="ps-4">
                                            <button class="btn btn-primary" onclick="placeOrder(event)">Delever
                                                Here</button>
                                        </div> --}}
                                    </div>
                                </div>
                                <!-- Single item -->
                                <hr class="my-4" />

                                {{/each}}
                            </form>

                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <p><strong>Expected shipping delivery</strong></p>
                            <p class="mb-0">12.10.2020 - 14.10.2020</p>
                        </div>
                    </div>
                    <div class="card mb-4 mb-lg-0">
                        <div class="card-body">
                            <p><strong>We accept</strong></p>
                            <img class="me-2" width="45px"
                                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                                alt="Visa" />
                            <img class="me-2" width="45px"
                                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                                alt="American Express" />
                            <img class="me-2" width="45px"
                                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                                alt="Mastercard" />
                            <img class="me-2" width="45px"
                                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce/includes/gateways/paypal/assets/images/paypal.webp"
                                alt="PayPal acceptance mark" />
                        </div>
                    </div>
                </div>
                <!--Coupon Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Copy Your Coupon</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {{#if coupon}}
                                <div class="row">
                                    <div class="col-6">
                                        <img src="/Coupon 8x3 in.jpeg" alt="" style="width: 100%;">
                                    </div>
                                    <div class="col-6">
                                        <h4 class="text-dark">Fashion Culture</h4>
                                        <h6 id="textToCopy">{{coupon.code}}</h6>
                                        <p id="copyResult"></p>
                                        <h6>Save {{coupon.value}}%</h6>
                                        <h6>Valid till {{coupon.end_date}}</h6>
                                    </div>
                                </div>
                                {{else}}
                                <div class="d-flex align-items-center jstify-content-center">
                                    <h6>No Coupons Available</h6>
                                </div>
                                {{/if}}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="copyButton">Copy</button>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- coupon modal end!--}}
                <div class="col-md-4">
                    <div class="cart__discount ">
                        <h6 class="mb-1">Discount codes</h6>
                        <form class="mb-3">
                            <input type="text" id="coupon_input" name="coupon_code" placeholder="Coupon code">
                            <button type="button" onclick="create_coupon_discount(event)">Apply</button>
                        </form>
                        <button onclick="showCoupon(event)" class="btn btn-dark" data-toggle="modal"
                            data-target="#exampleModalCenter"
                            style="border-radius: 0px; background-color: #111111; border-color: #111111;">Show
                            Coupons</button>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header py-3">
                            <h5 class="mb-0">Summary</h5>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h6 id="coupon-applied" class="me-1"></h6>
                                <a href="" id="remove" onclick="removeCoupon(event)" class="text-danger"></a>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li
                                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-2">
                                    <div>
                                        <strong>Subtotal</strong>
                                    </div>
                                    <span><strong>Rs.{{total}}</strong></span>
                                </li>
                                <li
                                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-2">
                                    <div>
                                        <strong>Discount</strong>
                                    </div>
                                    <span><strong id="discount">Rs.0</strong></span>
                                </li>
                                <li
                                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-2">
                                    <div>
                                        <strong>Total amount</strong>
                                    </div>
                                    <span><strong id="total">{{total}}</strong></span>
                                </li>
                            </ul>

                            <ul class="list-group list-group-flush mb-3">
                                <div>
                                    <div class="d-flex align-items-center">
                                        <input type="radio" name="paymentmethod" value="cod" class="me-2"
                                            checked="checked">
                                        <label for="" class="mt-2">Cash On Delivery</label>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <input type="radio" name="paymentmethod" value="online-payment" class="me-2">
                                        <label for="" class="mt-1">Online Payment</label>
                                    </div>
                                </div>
                            </ul>

                            <button type="button" id="rzp-button1" onclick="placeOrder(event)"
                                class=" btn btn-primary btn-lg btn-block">
                                Place Order
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div>
        <div class="popup" id="popup">
            <img src="https://www.pngkey.com/png/detail/26-267424_icon-check-tick-transparent.png" alt="">
            <h2>Thank You!</h2>
            <p>Your order placed successfully</p>
            <button type="button" onclick="closePopup()" class="btn btn-success">Ok</button>
        </div>
    </div>
</form>

<style>
    .popup {
        width: 400px;
        background: #fff;
        border-radius: 6px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.1);
        text-align: center;
        padding: 0 30px 30px;
        color: #333;
        visibility: hidden;
        transition: transform 0.4s, top 0.4s;
    }

    .open-popup {
        visibility: visible;
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
    }

    .popup img {
        width: 100px;
        margin-top: -50px;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .popup h2 {
        font-size: 38px;
        font-weight: 500;
        margin: 30px 0 10px;
    }
</style>


<script>
    function showCoupon() {
        const answer = document.getElementById("copyResult");
        const copy = document.getElementById("copyButton");
        const selection = window.getSelection();
        const range = document.createRange();
        const textToCopy = document.getElementById("textToCopy")

        copy.addEventListener('click', function (e) {
            range.selectNodeContents(textToCopy);
            selection.removeAllRanges();
            selection.addRange(range);
            const successful = document.execCommand('copy');
            if (successful) {
                textToCopy.style = "display:none"
                answer.innerHTML = 'Coupon Copied!';
            } else {
                answer.innerHTML = 'Unable to copy!';
            }
            window.getSelection().removeAllRanges()
        });
    }

</script>

{{!--
<script>
    let popup = document.getElementById("popup");

    function openPopup() {
        popup.classList.add("open-popup")
    }

    function closePopup() {
        popup.classList.remove("open-popup")
    }
</script> --}}

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>